#__bs_notify__ {
  display: none !important;
}
.mui-bar-nav {
  background: #F2395B;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #fff;
}
.mui-bar-nav * {
  color: #fff;
}
.mui-bar-nav a {
  color: #fff !important;
}
.mui-bar-nav .a-kefu {
  position: absolute;
  right: 10px;
  top: 0;
  padding-left: 24px;
}
.mui-bar-nav .a-kefu:before {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/ico-kefu.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  text-indent: -9999px;
}
.avator-user {
  position: absolute;
  right: 10px;
  top: 0;
  width: 30px;
  bottom: 0;
  padding-left: 24px;
  background: url() center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.code-user {
  position: absolute;
  right: 15px;
  top: 0;
  width: 24px;
  bottom: 0;
  padding-left: 24px;
  background: url(../img/code.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.h15 {
  height: 15px;
  clear: both;
  line-height: 15px;
}
.banner-slider a,
.banner-slider img {
  display: block;
  width: 100%;
}
.bgfff {
  background: #fff !important;
}
body,
.mui-content {
  background: #FFFFFF;
}
.notice-row {
  background: #fff;
  height: 44px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #F3F3F3;
}
.notice-row .mui-table-cell {
  height: 44px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  color: #666;
}
.notice-row .left {
  width: 40px;
  font-size: 22px;
  text-align: center;
  color: #F2395B;
}
.notice-row .swiper-container,
.notice-row .swiper-slide {
  height: 44px;
  line-height: 44px;
  position: relative;
  overflow: hidden;
}
.notice-row a {
  color: #666;
  font-size: 80%;
}
.notice-row b {
  color: #F2395B;
}
.game-lists .mui-table-cell {
  vertical-align: top;
}
.game-lists img {
  width: 60px !important;
  height: 60px;
}
.game-lists .mui-table-view-cell:after {
  left: 0;
}
.game-lists .img {
  width: 70px;
}
.game-lists h4 {
  font-weight: normal;
}
.game-lists .mui-table-view:after {
  height: 1px !important;
}
.game-lists .mui-segmented-control {
  border-radius: 0;
}
.game-lists .mui-segmented-control div {
  border-radius: 0 !important;
}
.game-lists button {
  border-radius: 8px;
}
.link-red {
  color: #F2395B;
}
.mui-bar-tab {
  background: #fff;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.mui-bar-tab .icon-nav1-active,
.mui-bar-tab .icon-nav2-active,
.mui-bar-tab .icon-nav3-active,
.mui-bar-tab .icon-nav4-active,
.mui-bar-tab .icon-nav5-active {
  display: none;
}
.mui-bar-tab .icon-nav1 {
  background: url(../img/ico-speech-bubble.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .icon-nav2 {
  background: url(../img/ico-address-book.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .icon-nav3 {
  background: url(../img/ico-playstation.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .icon-nav4 {
  background: url(../img/ico-shopping-basket.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .icon-nav5 {
  background: url(../img/ico-usercenter.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .mui-active .icon-nav1,
.mui-bar-tab .mui-active:active .icon-nav1,
.mui-bar-tab .mui-active .icon-nav2,
.mui-bar-tab .mui-active:active .icon-nav2,
.mui-bar-tab .mui-active .icon-nav3,
.mui-bar-tab .mui-active:active .icon-nav3,
.mui-bar-tab .mui-active .icon-nav4,
.mui-bar-tab .mui-active:active .icon-nav4,
.mui-bar-tab .mui-active .icon-nav5,
.mui-bar-tab .mui-active:active .icon-nav5 {
  display: none;
}
.mui-bar-tab .mui-active .icon-nav1-active,
.mui-bar-tab .mui-active:active .icon-nav1-active,
.mui-bar-tab .mui-active .icon-nav2-active,
.mui-bar-tab .mui-active:active .icon-nav2-active,
.mui-bar-tab .mui-active .icon-nav3-active,
.mui-bar-tab .mui-active:active .icon-nav3-active,
.mui-bar-tab .mui-active .icon-nav4-active,
.mui-bar-tab .mui-active:active .icon-nav4-active,
.mui-bar-tab .mui-active .icon-nav5-active,
.mui-bar-tab .mui-active:active .icon-nav5-active {
  display: inline-block !important;
  opacity: 1 !important;
}
.mui-bar-tab .mui-active .icon-nav1-active,
.mui-bar-tab .mui-active:active .icon-nav1-active {
  background: url(../img/ico-speech-bubble2.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .mui-active .icon-nav2-active,
.mui-bar-tab .mui-active:active .icon-nav2-active {
  background: url(../img/ico-address-book2.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .mui-active .icon-nav3-active,
.mui-bar-tab .mui-active:active .icon-nav3-active {
  background: url(../img/ico-playstation2.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .mui-active .icon-nav4-active,
.mui-bar-tab .mui-active:active .icon-nav4-active {
  background: url(../img/ico-shopping-basket2.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-bar-tab .mui-active .icon-nav5-active,
.mui-bar-tab .mui-active:active .icon-nav5-active {
  background: url(../img/ico-usercenter2.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
/*login*/
.login-content {
  background: url(../img/loginbg.jpg) center 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}
.login-content .mui-control-item {
  color: #888888;
}
.login-content .mui-control-item.mui-active {
  color: #F2395B;
}
.login-content .mui-input-group .mui-input-row:after {
  left: 0;
}
.login-content .mui-input-group .mui-input-row {
  height: 50px;
}
.login-content select,
.login-content textarea,
.login-content input[type='text'],
.login-content input[type='search'],
.login-content input[type='password'],
.login-content input[type='datetime'],
.login-content input[type='datetime-local'],
.login-content input[type='date'],
.login-content input[type='month'],
.login-content input[type='time'],
.login-content input[type='week'],
.login-content input[type='number'],
.login-content input[type='email'],
.login-content input[type='url'],
.login-content input[type='tel'],
.login-content input[type='color'] {
  height: 50px;
  font-size: 16px;
}
.login-content .mui-input-row .mui-input-clear ~ .mui-icon-clear,
.login-content .mui-input-row .mui-input-speech ~ .mui-icon-speech,
.login-content .mui-input-row .mui-input-password ~ .mui-icon-eye {
  top: 15px;
}
.login-content .mui-input-row .mui-btn {
  width: auto;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -19px;
}
.login-content .mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border: 0;
}
.login-content .mui-btn-block {
  margin-top: 42px;
}
.border-raduis {
  border-radius: 50px;
}
.mui-input-row-icons label {
  width: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  height: 30px;
  padding: 0;
  margin-top: -15px;
  background: url() center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.mui-input-row-icons .ico-user {
  background-image: url(../img/ico-user.png);
}
.mui-input-row-icons .ico-password {
  background-image: url(../img/ico-password.png);
}
.mui-input-row-icons .ico-tel {
  background-image: url(../img/ico-tel.png);
}
.mui-input-row-icons .ico-yzm {
  background-image: url(../img/ico-antivirus.png);
}
.mui-input-row-icons input {
  display: block;
  width: 100% !important;
  padding-left: 40px !important;
}
.login-weixin {
  background: url(../img/img-weixin.png) center no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 0 1%;
}
.login-qq {
  background: url(../img/img-qq.png) center no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 0 1%;
}
.agree-tips {
  text-align: center;
}
.agree-tips a {
  color: #F2395B;
}
.red {
  color: #F2395B;
}
.shop-content,
.shop-body {
  background: #EFEFEF;
}
.shop-list-box {
  padding-left: 10px;
  color: #888;
  padding-bottom: 15px;
}
.shop-list-box .hd {
  padding-top: 10px;
  padding-bottom: 10px;
}
.shop-list-box .hd h4 {
  font-size: 16px;
  color: #888;
  font-weight: normal;
}
.shop-list-box ul {
  margin: 0;
}
.shop-list-box li {
  padding-right: 10px;
}
.shop-list-box a {
  display: block;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.shop-list-box img {
  display: block;
  width: 100%;
  border-radius: 8px;
  max-height: -webkit-calc(50vw - 15px);
}
.shop-list-box b {
  font-weight: normal;
}
.shop-list-box li > a {
  margin-bottom: 5px;
}
.shop-list-box li .mui-row > div {
  font-size: 14px;
  line-height: 30px;
  width: 50%;
}
.shopInfo-content {
  background: #fff;
}
.shopInfo-hd {
  padding: 10px 15px;
}
.shopInfo-hd h1 {
  font-weight: normal;
  font-size: 18px;
}
.shopInfo-hd p {
  margin-bottom: 0;
}
.shopInfo-bd img {
  display: block;
  width: 100%;
}
/*user*/
.user-body,
.user-content {
  background: #EFEFEF;
}
.user-content-head {
  background: #fff;
  border-radius: 5px;
  min-height: 30px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.13);
}
.user-content-head strong {
  font-weight: 400;
  font-size: 30px;
}
.user-content-head .mui-row ~ .mui-row {
  margin-top: 15px;
}
.user-content-body .fa {
  margin-left: -5px;
}
.user-content-body .ico-wdtj {
  text-indent: -9999px;
  background: url(../img/ico-wdtj.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.user-content-body .ico-wdtj:after {
  content: "　";
}
.user-content-body .ico-yhk {
  text-indent: -9999px;
  background: url(../img/ico-yhk.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.user-content-body .ico-yhk:after {
  content: "　";
}
.user-content-body .ico-fx {
  text-indent: -9999px;
  background: url(../img/ico-fx.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.user-content-body .ico-fx:after {
  content: "　";
}
.user-content-body .ico-tghb {
  text-indent: -9999px;
  background: url(../img/ico-tghb.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.user-content-body .ico-tghb:after {
  content: "　";
}
.user-content-body .ico-kfzx {
  text-indent: -9999px;
  background: url(../img/ico-kfzx.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.user-content-body .ico-kfzx:after {
  content: "　";
}
.user-content-body .ico-sz {
  text-indent: -9999px;
  background: url(../img/ico-sz.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.user-content-body .ico-sz:after {
  content: "　";
}
body .layui-m-layerbtn {
  background: #fff;
  border-top: 1px solid #E0E0E0;
}
body .layui-m-layerbtn span,
body .layui-m-layerbtn span[yes] {
  color: #616161;
}
.shareBox {
  text-align: center;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shareBox .shares-actions {
  max-height: 160px;
  overflow: hidden;
  overflow-y: auto;
}
.shareBox ul {
  margin: 0;
  white-space: nowrap;
}
.shareBox li {
  float: left;
  width: 25vw;
}
.shareBox p {
  margin-bottom: 0;
}
.shareBox a {
  display: block;
}
.shareBox img {
  width: 50px;
  height: 50px;
}
.avator-lists {
  text-align: center;
  padding: 10px 5px;
}
.avator-lists .mui-row > div {
  padding: 5px 0;
}
.avator-lists img {
  width: 80%;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}
.cash-actions-row {
  background: #fff;
  text-align: center;
  padding-top: 15px;
}
.cash-actions-row a {
  display: block;
}
.cash-actions-row img {
  max-width: 50%;
  display: block;
  background: #FF617D;
  border-radius: 50px;
  margin: 0 auto 5px;
}
.mescroll {
  position: fixed;
  top: 44px;
  bottom: 0;
  height: auto;
}
.cz-list ul {
  margin: 0;
}
.cz-list h4,
.cz-list b {
  font-weight: normal;
}
.cz-list .mui-table-cell {
  vertical-align: middle;
}
.cz-list h4 {
  color: #666;
  font-size: 16px;
  margin-top: 0;
}
.cz-list p {
  margin: 0;
}
.cz-list b {
  font-size: 20px;
}
.transaction-tips {
  padding: 10px;
  vertical-align: middle;
  color: #666;
}
.transaction-tips img {
  vertical-align: middle;
  line-height: 0;
}
.transfer-form {
  color: #666;
}
.transfer-form .mui-input-group .mui-input-row {
  height: 50px;
}
.transfer-form select,
.transfer-form textarea,
.transfer-form input[type='text'],
.transfer-form input[type='search'],
.transfer-form input[type='password'],
.transfer-form input[type='datetime'],
.transfer-form input[type='datetime-local'],
.transfer-form input[type='date'],
.transfer-form input[type='month'],
.transfer-form input[type='time'],
.transfer-form input[type='week'],
.transfer-form input[type='number'],
.transfer-form input[type='email'],
.transfer-form input[type='url'],
.transfer-form input[type='tel'],
.transfer-form input[type='color'] {
  height: 50px;
  font-size: 16px;
}
.transfer-form .mui-input-row .mui-input-clear ~ .mui-icon-clear,
.transfer-form .mui-input-row .mui-input-speech ~ .mui-icon-speech,
.transfer-form .mui-input-row .mui-input-password ~ .mui-icon-eye {
  top: 15px;
}
.transfer-form .mui-input-row label {
  height: 50px;
  line-height: 30px;
}
.transfer-form .txtinfo {
  padding: 10px;
  line-height: 30px;
  padding-right: 50px;
}
.transfer-form .mui-table div {
  padding: 10px;
  vertical-align: middle;
}
.transfer-form .mui-table p {
  margin-bottom: 0;
  font-size: 12px;
}
.transfer-form .mui-table .mui-text-right {
  width: 30%;
}
.selectBox.mui-navigate-right:after,
.selectBox.mui-push-right:after {
  right: 15px;
  content: '\e581';
}
.selectBox span {
  display: inline-block;
  padding: 10px;
  line-height: 30px;
  padding-right: 35px;
}
.under-recharge a {
  vertical-align: middle;
  font-size: 14px;
}
.under-recharge img {
  height: 20px;
  vertical-align: middle;
  line-height: 0;
}
.money-speed a {
  display: block;
  margin: 5px;
  background: #fff;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid #D7D7D7;
  color: #666;
}
.money-speed a.on,
.money-speed a:active {
  border-color: #F2395B;
  color: #666;
}
.tab-row {
  padding: 0 10px;
}
.tab-row .mui-bar-tab {
  background: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.tab-row .mui-tab-item {
  border-bottom: 2px solid #E0E0E0;
}
.tab-row .mui-bar-tab .mui-tab-item.mui-active {
  border-bottom-color: #F2395B;
}
.table-data {
  color: #666;
  text-align: center;
}
.table-data th {
  color: #666;
  font-weight: normal;
  padding: 8px 2px;
  background: #fff;
  border-bottom: 1px solid #EFEFEF;
}
.table-data th span {
  display: inline-block;
  cursor: pointer;
}
.table-data td {
  color: #666;
  font-weight: normal;
  padding: 8px 2px;
  background: #fff;
}
.table-data tbody tr:nth-of-type(2n) td {
  background: #F5F5F5;
}
.tj-list,
.chat-list {
  margin-top: 0 !important;
}
.tj-list .mui-badge,
.chat-list .mui-badge {
  background: 0;
  color: #666;
}
.bank-list {
  padding: 10px;
}
.bank-item {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
.bank-item .bank-logo {
  padding: 10px;
}
.bank-item .bank-logo img {
  height: 22px;
}
.bank-item .bank-number {
  text-align: right;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 0 0 10px 10px;
}
@media all and (orientation: portrait) {
  .bank-list {
    padding-bottom: 70px;
  }
  .portrait {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.inputPayPasswordBox {
  margin: 15px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 20vh;
}
.inputPayPasswordBox p {
  padding-top: 15px;
  padding-bottom: 30px;
}
.inputNumber ul,
.inputNumber li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inputNumber ul {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.inputNumber li {
  display: table-cell;
  height: 45px;
}
.inputNumber input {
  border-radius: 0;
  text-align: center;
  border-right-width: 0;
  height: 56px;
  font-size: 25px;
}
.inputNumber li:nth-last-of-type(1) input {
  border-right-width: 1px;
}
.layui-m-layer-skin {
  width: 220px;
  border-radius: 20px !important;
  text-align: center;
  padding: 20px;
}
.layui-m-layer-skin img {
  margin: 0 auto 15px;
}
.layui-m-layer-skin p {
  text-align: center;
}
.layui-m-layer-skin .layui-m-layercont {
  text-align: center !important;
}
.img-block {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mui-table-view.nobg {
  background: 0;
}
.mui-table-view.nobg li {
  background: #fff;
}
.articleBox img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.mui-navigate-right-info .mui-pull-right {
  padding-right: 25px;
}
.mui-switch.mui-active {
  border-color: #99B73D;
  background-color: #99B73D;
}
.mui-table-view-cell {
  color: #666;
}
#akefu {
  display: block;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 60px;
  background: url(../img/img-kefu.png) center no-repeat;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  -webkit-background-size: contain;
  background-size: contain;
}
.tel-form .mui-input-row .mui-btn ~ input {
  width: 46%;
}
.tel-form .mui-input-row {
  position: relative;
}
.tel-form .mui-input-row .mui-btn {
  right: 15px;
  top: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mui-input-row label ~ input,
.mui-input-row label ~ select,
.mui-input-row label ~ textarea {
  font-size: 16px;
}
#indexpopover {
  height: 280px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -140px;
  font-size: 14px;
}
#indexpopover .hd {
  padding: 0 10px;
  line-height: 36px;
  border-bottom: 1px solid #FFB6C4;
}
#indexpopover .bd {
  margin: 10px 10px 0;
  height: 178px;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  color: #666;
}
#indexpopover .ft {
  padding: 10px;
}
/*聊天*/
.chat-list .mui-media-body {
  color: #000;
}
.chat-list p {
  color: #999;
}
.chat-list .mui-badge {
  color: #999;
}
.plusMenuPopover {
  width: 130px;
  font-size: 14px;
  margin-top: -5px;
}
.plusMenuPopover .mui-popover-arrow {
  display: none;
}
.plusMenuPopover .mui-icon:after {
  content: "　";
  font-size: 16px;
}
.plusMenuPopover .mui-icon {
  margin-right: 10px;
}
.plusMenuPopover .icon-add {
  background: url(../img/icon-add.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.plusMenuPopover .icon-scan {
  background: url(../img/icon-scan.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.plusMenuPopover .icon-share {
  background: url(../img/icon-share.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.plusMenuPopover.mui-popover .mui-table-view {
  border-radius: 0;
}
.plusMenuPopover.mui-popover .mui-table-view .mui-table-view-cell:first-child {
  border-radius: 0;
}
.mm_box {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #DADADA;
}
.mm_box li {
  display: table-cell;
  border-left: 1px solid #DADADA;
}
.mm_box li:nth-of-type(1) {
  border-left: 0;
}
.mm_box li.mmdd {
  background: #fff url(../img/dd_03.jpg) center no-repeat;
  background-size: 25%;
}
.numb_box {
  text-align: center;
  background: #fff;
}
.numb_box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.numb_box ul li {
  padding: 0;
  list-style: none;
  margin: 0;
}
.numb_box ul a {
  background: #F5F5F5;
  font-size: 24px;
}
.xiaq_tb {
  background: #F5F5F5;
}
.numb_box {
  position: absolute;
  z-index: 10;
  background: #F5F5F5;
  width: 100%;
  bottom: 0;
}
.nub_ggg {
  border: 1px solid #dadada;
  overflow: hidden;
  border-bottom: 0;
}
.nub_ggg li {
  width: 33.3333%;
  border-bottom: 1px solid #dadada;
  float: left;
  text-align: center;
  font-size: 22px;
}
.nub_ggg li a {
  display: block;
  color: #000;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.nub_ggg li a:active {
  background: #e0e0e0;
}
.nub_ggg li a.zj_x {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.nub_ggg li span {
  display: block;
  color: #e0e0e0;
  background: #e0e0e0;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.nub_ggg li span.del img {
  width: 30%;
}
.icon-user-white:after {
  background: url(../img/ico-user2.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  content: "　";
}
body {
  padding: 0;
}
.mui-indexed-list {
  position: relative;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  overflow: hidden;
  background-color: #fafafa;
  height: 300px;
  cursor: default;
}
.mui-indexed-list-inner {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  border: none;
}
.mui-indexed-list-inner::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.mui-indexed-list-empty-alert,
.mui-indexed-list-inner.empty ul {
  display: none;
}
.mui-indexed-list-inner.empty .mui-indexed-list-empty-alert {
  display: block;
}
.mui-indexed-list-empty-alert {
  padding: 30px 15px;
  text-align: center;
  color: #ccc;
  padding-right: 45px;
}
.mui-ios .mui-indexed-list-inner {
  width: calc(110%);
}
.mui-indexed-list-group,
.mui-indexed-list-item {
  padding-right: 45px;
}
.mui-ios .mui-indexed-list-group,
.mui-ios .mui-indexed-list-item,
.mui-ios .mui-indexed-list-empty-alert {
  padding-right: 55px;
}
.mui-indexed-list-group {
  background-color: #f7f7f7;
}
.mui-indexed-list-group {
  padding-top: 3px;
  padding-bottom: 3px;
}
.mui-indexed-list-search {
  border-bottom: solid 1px #e3e3e3;
  z-index: 15;
}
.mui-indexed-list-search.mui-search:before {
  margin-top: -10px;
}
.mui-indexed-list-search input {
  border-radius: 0px;
  margin: 0px;
  background-color: #fafafa;
}
.mui-indexed-list-bar {
  width: 23px;
  background-color: lightgrey;
  position: absolute;
  height: 100%;
  z-index: 10;
  right: 0px;
  -webkit-transition: .2s;
}
.mui-indexed-list-bar a {
  display: block;
  text-align: center;
  font-size: 11px;
  padding: 0px;
  margin: 0px;
  line-height: 15px;
  color: #aaa;
}
.mui-indexed-list-bar.active {
  background-color: #c8c8c8;
}
.mui-indexed-list-bar.active a {
  color: #333;
}
.mui-indexed-list-bar.active a.active {
  color: #007aff;
}
.mui-indexed-list-alert {
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 40px;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  color: #fff;
  display: none;
  -webkit-transition: .2s;
}
.mui-indexed-list-alert.active {
  display: block;
}
.wc__addrFriend-list .name {
  line-height: 42px;
  height: 42px;
}
.wc__addrFriend-list .mui-content-padded {
  margin: 0;
  padding: 10px;
}
.wc__addrFriend-showletter {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-family: Verdana;
  text-align: center;
  margin: -25px 0 0 25px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  display: none;
  margin-left: -25px;
  margin-top: -25px;
}
.wc__addrFriend-floatletter {
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  position: fixed;
  right: 0;
  top: 0px;
  bottom: 0px;
  z-index: 11;
}
.wc__addrFriend-floatletter em {
  flex: 1;
  font-size: 14px;
  font-family: arial;
  text-align: center;
  height: 3.846%;
  align-self: center;
  width: 100%;
  font-size: 12px;
  font-style: normal;
}
.wc__addrFriend-list ul li .initial {
  /*background: #fbf9fe;*/ font-size: 12px;
  font-family: Verdana;
  padding: 0 15px;
}
.wc__addrFriend-list ul li:first-child .initial:before {
  display: none;
}
.wc__addrFriend-list ul li .row {
  background: #fff;
  font-family: 'Microsoft Yahei';
  padding: .15rem .3rem;
  position: relative;
}
.wc__addrFriend-list ul li .row:after {
  content: '';
  border-bottom: 1px solid #d9d9d9;
  color: #d9d9d9;
  height: 1px;
  width: auto;
  position: absolute;
  left: .3rem;
  right: .4rem;
  bottom: 0;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.wc__addrFriend-list ul li .row:last-child::after {
  display: none;
}
.wc__addrFriend-list ul li .row .uimg {
  display: block;
  margin-right: 10px;
  height: 45px;
  width: 45px;
}
.wc__addrFriend-list ul li .row .name {
  color: #333;
}
.gameItems .img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  background: url() center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.gameItems .name {
  padding-left: 45px;
  font-size: 16px;
}
.gameItems .mui-badge {
  width: 30px;
  height: 30px;
  background: #FF0F0F;
  color: #fff;
  line-height: 30px;
  padding: 0;
  text-align: center;
}
.hb-details-hd {
  height: 160px;
  position: relative;
  background: url(../img/hb-hdbg.png) center 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.hb-details-hd .user-info {
  position: absolute;
  width: 100%;
  left: 0;
  top: 120px;
}
.hb-details-hd .user-info p {
  color: #666;
  text-align: center;
  margin-bottom: 0;
}
.hb-details-hd .avator {
  width: 77px;
  height: 77px;
  display: block;
  margin: 0 auto 10px;
}
.hb-details-hd .avator img {
  display: block;
  width: 100%;
  height: 100%;
}
.mui-media-object {
  border-radius: 50%;
}
.hb-details-money {
  text-align: center;
  padding-top: 100px;
  color: #666;
  padding-bottom: 30px;
}
.hb-details-money strong {
  font-size: 80px;
  color: #333;
  font-weight: normal;
  line-height: 1.2em;
  padding-right: 5px;
}
.hb-details-bd .mui-badge {
  background: 0;
  color: #666;
}
.hb-details-bd .name {
  font-size: 14px;
}
.mui-col-xs-20 {
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.qun-member-box {
  background: #fff;
}
.qun-member-box .mui-row {
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
}
.qun-member-box p {
  height: 21px;
  margin-bottom: 0;
  line-height: 20px;
}
.qun-member-box .btn-show-member {
  padding: 10px;
  color: #666;
  font-size: 14px;
}
.qun-member-box .btn-show-member:after {
  content: "查看全部成员";
}
.qun-member-box .a-user {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.qun-member-box .a-user img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.qun-member-box .first:after {
  content: "";
  display: block;
  background: url(../img/first.png) right bottom no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
}
.qun-member-box .second:after {
  content: "";
  display: block;
  background: url(../img/second.png) right bottom no-repeat;
  width: 20px;
  height: 20px;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
}
.qun-member-box .btn-plus {
  width: 60px;
  height: 60px;
  margin: 0 auto 21px;
  border: 1px solid #DADADA;
  border-radius: 50px;
  background: url(../img/plus.png) center no-repeat;
  -webkit-background-size: 25px 25px;
  background-size: 25px 25px;
}
.qun-member-box .mui-col-xs-20 {
  display: none;
}
.qun-member-box .mui-col-xs-20:nth-of-type(1),
.qun-member-box .mui-col-xs-20:nth-of-type(2),
.qun-member-box .mui-col-xs-20:nth-of-type(3),
.qun-member-box .mui-col-xs-20:nth-of-type(4),
.qun-member-box .mui-col-xs-20:nth-of-type(5) {
  display: block;
}
.qun-member-box.open .mui-col-xs-20 {
  display: block;
}
.qun-member-box.open .btn-show-member:after {
  content: "精简显示成员";
}
.hb-money-row {
  text-align: center;
  line-height: 2em;
  font-size: 60px;
}
.hb-money-row b {
  font-weight: normal;
}
.radio-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.radio-row .mui-pull-left {
  margin-right: 2em;
}
.radio-row .mui-radio input {
  position: relative;
  left: auto;
  right: auto;
  float: left;
  margin-right: 10px;
  top: auto;
}
.radio-row .mui-radio label {
  width: auto;
  line-height: 28px;
  padding-right: 20px;
}
/*# sourceMappingURL=app.css.map */
